*{
    color: whitesmoke;
    background-color:rgb(59, 73, 58);
}
.container{
    display: flex;
    justify-content: center;
 
    
}

.parent{
    width: 400px;
    margin-top: 30px;
    padding: 20px;
    border:3px solid blue;
    border-radius: 5px;
}
form{
    width: 300px;
    padding: 30px;
    border: 3px solid yellow;
    border-radius: 5px;
}
button{
    background-color: antiquewhite;
    border: 1px solid #333;
    padding: 6px 15px;
    box-shadow: 4px 4px #000;
    font-size: 20px;
    display: block;
    margin: auto;
    color: #333;
}